[submodule "extern/Effekseer"]
	path = extern/Effekseer
	url = https://github.com/effekseer/Effekseer.git
	ignore = dirty
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master